        body {
            margin: 0;
            padding: 0;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            background-color: #a9a9a9;
        }

        .menu-group {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .menu-item {
            font-family: "Times New Roman";
            padding: 10px;
        }

        .sidebar {
            display: flex;
            flex-direction: column;
            height: 100%;
            background-color: #a9a9a9;
            font-family: "Times New Roman";
        }

        .main {
            /* position: absolute; この行を削除 */
            top: 70px; /* ヘッダーの下に配置 */
            display: flex;
        }

        .main-2 {
            flex: 1;
            padding: 10px;
            border: 1px solid black;
            box-sizing: border-box;
        }

        .flex-content {
            border: 1.5px solid #aaa;
            border-radius: 2px;
            background-color: #a9a9a9;
            margin: 5px;
            padding: 5px;
        }